* { 
	box-sizing: border-box;
	z-index: 1000;
	font-size: 16px;
}
body {
	margin:0;
}

.page1 h1{
	margin: 0;
}
.title{
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	font-weight: bold;
	font-size: 35px;
	color: #394B4F;
}
.p{
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 16px;
	color: #394B4F;
}
a{
	text-decoration: none;
	color: black;
}
.wrap{
	display: grid;
	grid-template-rows: auto 1fr auto;
	min-height: 100vh;
}
header{
	padding: 10px 0;

}
.container-fluid{
	gap: 20px;
	padding: 0;
}
#hedaer_navbar{
	background-color: white !important;
	font-family: Lato;

}
#hedaer_navbar a{
	color: #868686;
}
#hedaer_navbar #home_brand{
	margin-right: auto;
	color: white;
	background: #F8B94D;
	padding: 10px 20px;
	font-size: 16px;
}
.page1{
	height: 530px;	
}
.page1__background{
	position: absolute;
	z-index: 900;
	left: 0;
	width: calc(var(--vw, 1vw) * 100);
	height: 530px;
	background-color: #6F97BF;
}
.page1__main{
	position: relative;
	text-align: center;
	display: grid;
	grid-template-rows: repeat(5, auto);
	justify-items: center;
	
}
.page1__title{
	padding-top: 80px;
	margin-bottom: 15px;
}
.page1 .input-group{
	width: 85%;
}
.page1__title h1, .page1__title p{
	color: white;
}
.page1 span{
	color: #6E6E6E;
	background: white !important;
}
.page1 input{
	border-left: none;
	padding-left: 0;
}
.page1 button{
	width: 210px;
	height: 45px;
	border: none;
	border-radius: 2.5px;
	background-color: #F8B94D;
	color: white;
}
.page1 img{
	display: none;
}
.services__component img{
	height: 45px;
	width: 45px;
}

.services__text > h3 {
    font-size: 16px;
    font-family: Lato;
    color: rgb(57, 75, 80);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.375;
}
.services__text > p {
    margin-top: 15px;
    font-size: 15px;
    font-family: "Open Sans";
    color: rgb(123, 123, 123);
    line-height: 1.692;
    text-align: justify;
}
.services__title > h4 {
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: rgb(57, 75, 79);
}
.services__text{
	margin-left: 38px;
}
.services__title {
	margin-top: 50px;
    margin-bottom: 70px;
	text-align: center;
}
.services__list{
	padding: 0 10px;
	display: grid;
	grid-template-rows: repeat(6, auto);
	row-gap: 50px;
	padding-bottom: 120px;
}
.page3{
	height: 470px;
}
.page3__main__background{
	height: 470px;
}
.page3__main__background{
	position: absolute;
	z-index: 900;
	left: 0;
	width: calc(var(--vw, 1vw) * 100);
	padding-bottom: 20px;
	background-color: #F8BE5D;
}
.page3__about__wrap{
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.page3__about__wrap button {
    color: white;
    font-family: Lato, sans-serif;
    border: 0.5px solid rgb(225, 171, 80);
    background: none;
    width: 141px;
    height: 46px;
	
}
.about_p {
    color: white;
	text-align: justify;
	padding: 0 5%;

}
.about_h1 {
	padding-top: 25px;
    color: white;
	text-align: center;
}
.page3__left__background{
	display: none;

}
.page4{
	height: 1720px;
}
.page4__wrap{
	
	position: absolute;
	left: 0;
	width: calc(var(--vw, 1vw) * 100);
	height: 1720px;
	background-color: #E7ECF0;
	z-index: 900;
}
.page4__title, .page4__tarif{
	position: relative;
	z-index: 1000;
}
.page4__tarif{
	display: grid;
	grid-template-rows: repeat(3, auto);
	row-gap: 50px;
	margin-top: 40px;
}
.page4__title{
	text-align: center;
	margin-top: 130px;
}
.page4__title>h1{
	margin: 0;
}

.page4__basic,.page4__premium, .page4__gold{
	width: 80%;
	max-width: 357px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	padding: 20px 0;
}
.page4__basic,.page4__gold {
	background-color: white;
	height: 440px;
}
.page4__premium{
	background-color: #719AC3;
	height: 440px;
}
.page4__premium h3{
	font-size: 25px;
	font-family: "Lato";
	color: rgb(255, 255, 255);
	font-weight: 300;
}
.page4__basic h3{
	font-size: 25px;
	font-family: "Lato";
	color: #818A94;
	font-weight: 300;
}
.page4__gold h3{
	font-size: 25px;
	font-family: "Lato";
	color: #818A94;
	font-weight: 300;
}
.basic__price, .gold__price{
	font-size: 60px;
	font-family: "Lato";
	color: #F8B94D;
}
.premium__price{
	font-size: 60px;
	font-family: "Lato";
	color: white;
}

.basic__h4,.gold__h4,.premium__h4{
	width: 80%;
	border-top: 0.3px solid #E1E8EE;
	font-size: 13.5px;
	font-family: "Lato";
	color: #B4BAC0;
	font-weight: 300;
	padding: 12px;
}
.premium__h4{
	color: #E1E8EE;
}
.basic__h4,.gold__h4, .premium__h4{
	margin-right: auto;
	margin-left: auto;	
}
.pm{
	border: none;
	margin-bottom: 33px;
}
.page4 button{
	width: 130px;
	height: 41px;
	color: white;
	font-family: "Lato";
	color: white;
	font-weight: 300;
	border: none;
	background-color: #F8B94D;
	margin-top: 27px;
}


@media (min-width: 992px) {
	.page1__title{
		grid-area: page1__title;
	}
	.i1{
		grid-area: i1;
	}
	.i2{
		grid-area: i2;
	}
	.i3{
		grid-area: i3;
	}
	.page1 img{
		grid-area: main_img;
	}
	.page1 button{
		grid-area: main_button;
	}
	#navHeadImg{
		flex-grow: 1;
		
	}
	.page1__title{
		padding-top: 100px;
	}
	.navbar-collapse{
		flex-grow: 0;
	}
	header{
		padding: 15px 0;
		
	}
	.page1 img{
		display: block;
		margin-top: 30px;
	}
	.page1__main{
		margin-left: auto;
		margin-right: auto;
		grid-template-areas: 
		"page1__title page1__title page1__title page1__title"
		"i1 i2 i3 main_button"
		"main_img main_img main_img main_img";
		column-gap: 15px;	
		max-width: 1140px;
	}
	.page1 .input-group{
		width: 100%;
		height: 45px;
	}
	.page1 button{
		justify-self: start;
	}
	.page1{
		height: 632px;	
	}
	.services__list{
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(3, auto);
		column-gap: 50px;
	}

	.page3__main__background{
		width: 50%;
		height: 650px;
		left: initial;
		right: 0;
		padding: 200px 100px;
	}
	.page3__left__background{
		display: block;
		position: absolute;
		z-index: 900;
		left: 0;
		width: 50%;
		height: 650px;
		background-image: url("../images/BackGround1.png");
		background-size: cover;
		
	}
	.about_h1  {
		padding-top: 0px;
	}
	.about_p {
		padding: 0;
		max-width: 600px;
	}
	.page3__about__wrap{
		align-items: start;
	}
	.page3{
		height: 647px;
	}
	.page4__basic,.page4__premium, .page4__gold{
		width: 357px
	}
	.page4__premium{
		padding-top: 35px;
		height: 470px;
	}
	.page4__tarif{
		grid-template-columns: repeat(3, 357px);
		grid-template-rows: initial;
		justify-content: center;
		align-items: center;
	}
	.page4{
		height: 800px;
	}
	.page4__wrap{
		height: 800px;
	}
}